### Project 1 - Car Sales Data Analysis
##### Group 2: Alex, Chuck, Esteban
##### Data Cleanup File

In [1]:
# importing dependencies
import pandas as pd

In [2]:
# reading in our selected raw dataset from google drive (stored there due to file size)
url = 'https://drive.google.com/uc?export=download&id=1wRFFHacpgSfZ_DmSpVSrbwsue0vJ4Dd0'
car_df = pd.read_csv(url, on_bad_lines='skip')
car_df

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,27750,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,67000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558806,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,4.5,18255.0,silver,black,avis corporation,35300,33000,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558807,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,30800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558808,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,34000,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558809,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,11100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558810,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,26700,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [3]:
# outputting/exploring column data types
car_df.dtypes

year              int64
make             object
model            object
trim             object
body             object
transmission     object
vin              object
state            object
condition       float64
odometer        float64
color            object
interior         object
seller           object
mmr               int64
sellingprice      int64
saledate         object
dtype: object

In [4]:
# outputting/exploring the dataframe size
car_df.shape

(558811, 16)

In [5]:
# outputting/exploring the dataframe length
length = len(car_df)
print(length)

558811

In [6]:
# outputting/exploring non null value count per column
car_df.count()

year            558811
make            548510
model           548412
trim            548160
body            545616
transmission    493458
vin             558811
state           558811
condition       547017
odometer        558717
color           558062
interior        558062
seller          558811
mmr             558811
sellingprice    558811
saledate        558811
dtype: int64

In [7]:
# outputting/exploring null value count per column
car_df.isnull().sum()

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65353
vin                 0
state               0
condition       11794
odometer           94
color             749
interior          749
seller              0
mmr                 0
sellingprice        0
saledate            0
dtype: int64

In [8]:
# dropping null values
clean_car_df = car_df.dropna()

In [9]:
# confirming there are no null values left
clean_car_df.isnull().sum()

year            0
make            0
model           0
trim            0
body            0
transmission    0
vin             0
state           0
condition       0
odometer        0
color           0
interior        0
seller          0
mmr             0
sellingprice    0
saledate        0
dtype: int64

In [10]:
# getting rid of duplicates just in case
clean_car_df = clean_car_df.drop_duplicates()

In [11]:
# outputting/exploring the dataframe size again to reflect the decrease in rows
clean_car_df.shape

(472336, 16)

In [12]:
# outputting the amount of rows that were dropped
length2 = len(clean_car_df)
dropped_rows = length - length2
print(dropped_rows)

86475

In [13]:
# definitng a function that removes outliers when you pass it two arguments (the dataframe, and a column or a list of columns)
def remove_outliers(dataframe, columns):
    if isinstance(columns, str):
        columns = [columns]
    if isinstance(columns, list):
        for column in columns:
            q1 = dataframe[column].quantile(0.25)
            q3 = dataframe[column].quantile(0.75)
            iqr = q3 - q1
            low_cutoff = q1 - (1.5 * iqr)
            high_cutoff = q3 + (1.5 * iqr)
            dataframe = dataframe[(dataframe[column] >= low_cutoff) & (dataframe[column] <= high_cutoff)]
        return dataframe
    else:
        raise TypeError('columns argument must be a string or list of strings')

In [14]:
# removing rows with outliers in the odometer and sellingprice columns
clean_car_df = remove_outliers(clean_car_df, ['odometer', 'sellingprice'])
clean_car_df

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,30000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,27750,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
5,2015,Nissan,Altima,2.5 S,Sedan,automatic,1n4al3ap1fn326013,ca,1.0,5554.0,gray,black,enterprise vehicle exchange / tra / rental / t...,15350,10900,Tue Dec 30 2014 12:00:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558805,2011,BMW,5 Series,528i,Sedan,automatic,wbafr1c53bc744672,fl,3.9,66403.0,white,brown,lauderdale imports ltd bmw pembrok pines,20300,22800,Tue Jul 07 2015 06:15:00 GMT-0700 (PDT)
558807,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,30800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558808,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,34000,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558809,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,11100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558810,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,26700,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [15]:
# dropping the vin, seller, and trim columns which are not significant for our project and analysis
clean_car_df = clean_car_df.drop(['vin', 'seller', 'trim'], axis=1)
clean_car_df.columns

Index(['year', 'make', 'model', 'body', 'transmission', 'state', 'condition',
       'odometer', 'color', 'interior', 'mmr', 'sellingprice', 'saledate'],
      dtype='object')

In [16]:
# converting the saledate column to an integer that is just the year
clean_car_df['saledate'] = clean_car_df['saledate'].str.extract('(\d{4})').astype(int)
clean_car_df.head()

,year,make,model,body,transmission,state,condition,odometer,color,interior,mmr,sellingprice,saledate
0,2015,Kia,Sorento,SUV,automatic,ca,5.0,16639.0,white,black,20500,21500,2014
1,2015,Kia,Sorento,SUV,automatic,ca,5.0,9393.0,white,beige,20800,21500,2014
2,2014,BMW,3 Series,Sedan,automatic,ca,4.5,1331.0,gray,black,31900,30000,2015
3,2015,Volvo,S60,Sedan,automatic,ca,4.1,14282.0,white,black,27500,27750,2015
5,2015,Nissan,Altima,Sedan,automatic,ca,1.0,5554.0,gray,black,15350,10900,2014

In [17]:
# outputting/exploring column data types again to reflect the changes
clean_car_df.dtypes

year              int64
make             object
model            object
body             object
transmission     object
state            object
condition       float64
odometer        float64
color            object
interior         object
mmr               int64
sellingprice      int64
saledate          int32
dtype: object

In [18]:
# making all non numeric columns lower case to account for different spellings
clean_car_df[['make', 'model', 'body', 'transmission', 'state','color', 'interior']] = clean_car_df[['make', 'model', 'body', 'transmission', 'state','color', 'interior']].applymap(str.lower)
clean_car_df.head()

C:\Users\esteb\AppData\Local\Temp\ipykernel_41436\3154028424.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  clean_car_df[['make', 'model', 'body', 'transmission', 'state','color', 'interior']] = clean_car_df[['make', 'model', 'body', 'transmission', 'state','color', 'interior']].applymap(str.lower)

,year,make,model,body,transmission,state,condition,odometer,color,interior,mmr,sellingprice,saledate
0,2015,kia,sorento,suv,automatic,ca,5.0,16639.0,white,black,20500,21500,2014
1,2015,kia,sorento,suv,automatic,ca,5.0,9393.0,white,beige,20800,21500,2014
2,2014,bmw,3 series,sedan,automatic,ca,4.5,1331.0,gray,black,31900,30000,2015
3,2015,volvo,s60,sedan,automatic,ca,4.1,14282.0,white,black,27500,27750,2015
5,2015,nissan,altima,sedan,automatic,ca,1.0,5554.0,gray,black,15350,10900,2014

In [19]:
# outputting/exploring our finalized dataframe size
clean_car_df.shape

(448984, 13)

In [20]:
# outputting/exploring more of our finalized dataframe's information
clean_car_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 448984 entries, 0 to 558810
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          448984 non-null  int64
 1   make          448984 non-null  object
 2   model         448984 non-null  object
 3   body          448984 non-null  object
 4   transmission  448984 non-null  object
 5   state         448984 non-null  object
 6   condition     448984 non-null  float64
 7   odometer      448984 non-null  float64
 8   color         448984 non-null  object
 9   interior      448984 non-null  object
 10  mmr           448984 non-null  int64
 11  sellingprice  448984 non-null  int64
 12  saledate      448984 non-null  int32
dtypes: float64(2), int32(1), int64(3), object(7)
memory usage: 46.2+ MB

In [21]:
# exporting our finalized clean dataset to csv
clean_car_df.to_csv('final_clean_car_data.csv', index=False)